* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; 
  background-image: url("../styles/image/designer_1.png");
  background-repeat: no-repeat;
  background-position: right;
 
}


ul {
  margin: 0;
  padding: 0;
}

.btn {
  height: 26px;
  padding: 4px 30px;
  text-align: center;
  border-radius: 2px;
  transition: all 0.3s;
}

.btn:hover {
  cursor: pointer;
  background: #505f98;

}

.btn-primary {
  background: #111b47;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  outline: 1px ;
  height: 1000px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  outline: 1px ;
}

.header-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header-list-link {
  font-size: 14px;
  text-decoration: none;
  color: #505f98;
}

.list-item:not(:first-child) {
  margin-left: 60px;
}

.header-list-link:hover {
  text-decoration: underline;
}

.header-logo {
  color: #37447e;
  font-weight: 900;
  font-size: 26px;
}

.btn-buy {
  width: 160px;
}
.hero-content
{
  margin-right: 600px;
  margin-top: 170px;
}
.title
{ 
align-items: center;
font-weight: 500;
font-size: 50px;
line-height: 66px;
color: #091133;
}
.content
{
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #505F98;
  margin-top: 50px;
}

.button
{
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.btn-purchase
{
  width: 190px;
}
.btn-learn
{
  width: 190px;
  margin-left: 30px;
  color: #091133 ;
  font-weight: 500;
  border: 2px solid #091133;
  text-align: center;
}